<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | FullMarket</title>
    <link rel="shortcut icon" href="../imagens/favicon.ico" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <!-- Estilo -->
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header>
        <div>
            <h1>FullMarket</h1>
        </div>
        <a href="../index.html">Sair</a>
    </header>
    <main>
        <section class="menu">
            <nav>
                <ul class="navbar-nav">
                    <li class="user nav-item navbar-brand">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                          </svg>
                        <p>Julio</p>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Perfil</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Produtos</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Perguntas</a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start notificacao pad">
                        <a href="pedidos.html" class="nav-link ajuste">Pedidos</a>
                        <span class="badge bg-primary rounded-pill">3</span>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Configurações</a>
                    </li>
                    <li class="fixed-bottom" class="nav-link">Fale Conosco</li>
                </ul>
            </nav>
        </section>
</body>
</html>